<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <div class="container">
    <h2>Cannot find what you were looking for. Either that, or something went terribly wrong.</h2>
  </div>

</html>
