<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
    <% include ./partials/header %>
  <body>
    <div class="container" style="padding-top: 100px; padding-bottom: 30px;" align="center">
      <h1 class="display-3" > <font face="helvetica"> <%=name%> </h1>
      <div class="jumbotron">
        <p class="lead"> <font face="courier" size = "6"> <%=quote%> </font></p>
      </div>
      <button type="button" class="btn btn-primary btn-lg" id = "generate" onClick = "window.location.reload()">Generate!</button>
    </div>
    <% include ./partials/footer %>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
